@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.home-row{
    align-items: center;
    display: flex;
    margin-left:10%;
    margin-right:10%;
    margin-top:12%;
    flex-wrap: wrap;
}
.column{
    flex:2;
}

.home-imgIcon {
    border-radius:50%;
    max-width: 70%;
    margin:0px 0px 0px 20%;
    vertical-align: middle;
} 


.heading{
    font-size: 59px;
    color:#4f5964;
    font-family:'Open Sans';
}
.heading-alt{
    font-size: 59px;
    color:#ff5757;
    font-family:'Open Sans';
}

.subtitle{
    font-size: 24px;
    font-family:'Open Sans';
    color:#4f5964;
}

@media only screen and (max-width: 600px) {
    
    .heading{
        font-size: 30px;
    }
    .heading-alt{
        font-size: 30px;
    }
    .subtitle{
        font-size: 10px;
    }
  }